K8S_CLUSTER_NAME=cluster-name-for-EKS-connection

# YOUR API EXPORT CATEGORY IS THE NAME OF THE TAG YOU ADD TO APIs YOUR TEAM OWNS
# EXPECT THIS TO BE UNIQUE TO YOUR GIT REPOSITORY AND TEAM
API_EXPORT_CATEGORY=your-category

# THE FOLLOWING VALUES ARE REQUIRED FOR TYK CONNECTIVITY
TYK_MODE=pro
TYK_URL=https://your-cloud-dashboard.cloud-ara.tyk.io/

## THESE VALUES CAN BE FOUND IN THE TYK GATEWAY
##  - TOP RIGHT CORNER (USERNAME)
##  - CHOOSE "EDIT PROFILE"
##  - SELECT A SPECIFIC USER FROM THE LIST
##  - TYK_AUTH CAN BE POPULATED WITH THE VALUE FOUND UNDER "Tyk Dashboard API Access Credentials"
##  - TYK_ORG CAN BE POPULATED WITH THE VALUE FOUND UNDER "Organisation ID"
TYK_AUTH=XXXXXXXXXXXXXXXXXXXXXXXX
TYK_ORG=XXXXXXXXXXXXXXXXXXXXXXXX

# NOTE  the script that runs does require you have your K8S environment variables set on your machine.
#       those values are NOT specified in this file but are instead taken from the docker command line.
#       (see shell script)
#       be aware that your machine will have to have the following set correctly for this to function
# AWS_ACCESS_KEY_ID
# AWS_SECRET_ACCESS_KEY
# AWS_SESSION_TOKEN

