K8S_CLUSTER_NAME=cluster-name-for-EKS-connection
# YOUR API EXPORT CATEGORY IS THE NAME OF THE TAG YOU ADD TO APIs YOUR TEAM OWNS
# EXPECT THIS TO BE UNIQUE TO YOUR GIT REPOSITORY AND TEAM
API_EXPORT_CATEGORY=category-of-apis-to-export
# THE FOLLOWING VALUES ARE REQUIRED FOR TYK CONNECTIVITY
TYK_MODE=pro
TYK_URL=https://your-tyk-gateway-url.cloud-ara.tyk.io/
## THESE VALUES CAN BE FOUND IN THE TYK GATEWAY
##  - TOP RIGHT CORNER (USERNAME)
##  - CHOOSE "EDIT PROFILE"
##  - SELECT A SPECIFIC USER FROM THE LIST
##  - TYK_AUTH CAN BE POPULATED WITH THE VALUE FOUND UNDER "Tyk Dashboard API Access Credentials"
##  - TYK_ORG CAN BE POPULATED WITH THE VALUE FOUND UNDER "Organisation ID"
TYK_AUTH=XXXXXXXXXXXXXXXXXXXXXXXX
TYK_ORG=XXXXXXXXXXXXXXXXXXXXXXXX
# YOU MUST HAVE ACCESS TO AWS TILE IN JUSTWORKS OKTA WITH THE "justworkshr-infra-sandbox" TILE VISIBLE WHEN YOU CONNECT
##  THESE VALUES ARE FOUND UNDER THE "Command line or programmatic access" LINK
##  WARNING - IF YOU ARE COPYING AND PASTING FROM OPTION 1, BE SURE TO DELETE THE WORD "export"
##  AS WELL AS THE DOUBLE QUOTES EXCLOSING THE STRINGS
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_SESSION_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...XXXXXXXXXXXXXXXXXXXXX
